 <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Videos</h2>
        <h3> My Favorite Videos</h3>
        <a class="btn btn-primary" href="#">See all</a>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Black Swan</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_36O75VSuLY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>Spring Day</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/H2HQWHKDREI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>O.N</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VnWo9-Dioik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>Pied Piper</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mz8cX-Ai0lE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      
      
  
      
      
    </div>
    <div class="row text-center">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
    </div>
  </section>
 
 